/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: #000; */
  font-family: 'GeistVF', sans-serif;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

